    @font-face {
	font-family: 'nlicons';
	src:url('fonts/icons/nlicons.eot');
	src:url('fonts/icons/nlicons_.eot#iefix') format('embedded-opentype'),
		url('fonts/icons/nlicons.woff') format('woff'),
		url('fonts/icons/nlicons.ttf') format('truetype'),
		url('fonts/icons/nlicons.svg#nlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor:none;
}
/* Clearfix */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Arial', sans-serif;
	color: #000;
	background: #fff;
	font-weight: 300;
	overflow-x: hidden;
	font-size: 50px;
}
#cont_frame{
    background-color:#fff;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch !important;
    overflow-y: scroll !important;
}
span.ilab {
        font-weight: bold;
}

#hello-ilab{
	margin-bottom: 50px;
	display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.container-form {
	margin: 0;
}
.container-box{
    margin-top:50px;
}
.box.box-form {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spacer {
	margin: 0 !important;
	display:block;
	min-height: 50px;
}

/* general style for the form */
.nl-form {
	width: 100%;
	/*line-height: 60px;*/
}
.nl-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrap {
	white-space: nowrap;
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select/*,
.window_button*/{
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 15px;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form input:focus {
	outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
	display: inline-block;
	position: relative;
}

.nl-field.nl-field-open {
	z-index: 10000;
}

/* the toggle is the visible part in the form */

.nl-field-toggle {
    border-bottom: 1px dashed #dce9ee;
}

.nl-field-toggle,
.nl-form input,
.nl-form select  {
	line-height: inherit;
	display: inline-block;
	color: #007e9e;
	cursor: pointer;
}

/* drop-down list / text element */
.nl-field ul {
	position: absolute;
	visibility: hidden;
	background: #fff;
	left: -0.5em;
	top: 50%;
	font-size: 80%;
	opacity: 0;
	-webkit-transform: translateY(-40%) scale(0.9);
	-moz-transform: translateY(-40%) scale(0.9);
	transform: translateY(-40%) scale(0.9);
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(-50%) scale(1);
	-moz-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
	-webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
	color: #000;
	position: relative;
        padding: 10px;
}

.nl-dd ul li {
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
	color: #000;
}

.no-touch .nl-dd ul li:hover {
	background: rgba(0,0,0,0.1);
}

.no-touch .nl-dd ul li:hover:active {
	color: #000;
}

/* icons for some elements */
/*.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
	font-family: 'nlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}*/

.nl-dd ul li.nl-dd-checked:before {
	position: absolute;
	right: 1em;
	font-size: 50%;
	line-height: 3;
}

.nl-ti-text ul {
	min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
        font-style: italic;
	padding: 0;
	border-bottom: none;
	color: #000;
        vertical-align: bottom;
        width:calc(100% - 80px);
        margin-right:20px;
}

.nl-form .nl-field-go {
        font-family: 'nlicons';
        font-size: 20px;
	right: 0;
	top: 0;
	height: 60px;
        width: 60px;
	cursor: pointer;
	background: rgba(255,255,255,1);
	text-align: center;
	color: transparent;
        margin: 0;
        transition: background-color 0.2s linear;
}

.nl-field-go:before {
    content: "\e001";
    color: #000;
    display: inline;
    transition: color 0.2s linear;
}
.nl-field-go:hover{
    background-color:#000;
}
.nl-field-go:hover::before {
    color:#fff;
}
/* custom placeholder color */
input::-webkit-input-placeholder {
	color: #cdcdcd;
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: #cdcdcd;
}

input::-moz-placeholder {
	color: #cdcdcd;
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: #cdcdcd;
}

input:-ms-input-placeholder {
	color: #cdcdcd;
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: #cdcdcd;
}

/* field below text input */
.nl-ti-text ul li.nl-ti-example {
	font-size: 15px;
	font-style: italic;
	padding: 0px 20px;
	color: #000;
	border-top: 1px solid #cdcdcd;
        line-height: 30px;
}

.nl-ti-text ul li.nl-ti-example em {
	color: #000
}

/* submit button */
/*.nl-submit-wrap {
	margin-top: 1.4em;
}*/

/*.window_button {
    
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 3px;
    
}*/

/*.nl-submit:before {
	content: "\e001";
	color: #fff;
	float: left;
	padding: 0 10px;
	margin: 0 10px 0 0;
	background: #000;
}*/

/*.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
	background: #aaaaaa;
}
*/
/*.no-touch .nl-form .nl-submit:hover:before {
	background: #aaaaaa;
}*/

/* overlay becomes visible when a field is opened */
.nl-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
}

.message_box{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:0;
    visibility:hidden;
    transition:visibility 0.1s linear 0.4s;
}
.message_overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000001;
    background-color:rgba(255,255,255,0);
    transition: background-color 0.3s linear;
}
.message_window{
    width:90%;
    max-width:920px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -45%);
    color:#fff !important;
    padding:50px;
    opacity:0;
    z-index:1000002;
    transition:opacity 0.3s linear, transform 0.3s linear;
}
.message_text{
    margin-bottom:100px;
    font-size:40px;
    text-align:center;
    max-width: 100%;
}
.window_buttons{
    text-align:center;
}
.window_button{
    border: 2px solid #fff;
    background-color:transparent;
}

.window_button span{
    color: #fff;
    
}
.window_button:hover{
    background-color:#fff;
}
.window_button:hover span {
    color: #000;
}

.message_box.opened{
    visibility:visible;
    z-index:100000;
    transition:visibility 0.1s linear 0s;
}
.message_box.opened .message_overlay{
    background-color:rgba(0,0,0,0.95);
}
.message_box.opened .message_window{
    transform:translate(-50%, -50%);
    opacity:1;
}

.privacy-policy {
    font-size: 25px;
    display: block;
}

#privacy-policy {
    text-decoration: underline;
}

.tnx {
    font-family: 'Grumpy 24';
    font-size: 3em;
    text-align: left;
    margin-bottom: 40px;
}

.tnx_bottom {
    text-align: left;
}
@media (max-width: 784px){   
body{
        font-size: 30px;
 }
}

@media (max-width: 480px){
.nl-field ul {
	left: -1.5em;
 }
    
.box.box-form{
        width:80%;
 }
    
body{
        font-size: 20px;
 }
 
.nl-field ul {
        font-size: 30px;
 }
 
.nl-form .nl-submit{
        margin-top: 20px;
        font-size: 100%;
 }
 .nl-field.nl-field-open ul {
        position:fixed;
        top:50%;
        left:50%;
	-webkit-transform: translate(-50%,-50%) scale(1);
	-moz-transform: translate(-50%,-50%) scale(1);
	transform: translate(-50%,-50%) scale(1);
}
}

@media (max-width: 360px){
    .spacer{
        height: 25px;
    }
}
#hello-ilab > .nl-field:nth-of-type(3)::after,
#hello-ilab > .nl-field:nth-of-type(5)::after{
    content:".";
}
/*
#hello-ilab > .nl-field{
    white-space: nowrap;
}
*/
button {
    width: 245px;
    height: 70px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: #fff;
    color: #000;
    font-size: 15px;    
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: none;
}

.nl-field-go{
    border-radius: 40px;
    height: 35px;
}


@media (max-width: 1600px){
    .box.box-close {
        width: 70%;
    }
}

@media (max-width: 900px){
    .box.box-close {
        width: 60%;
    }
    .tnx{
        font-size:60px;
    }
    .tnx_bottom{
        font-size:25px;
    }
}
@media (max-width: 790px){
    .box.box-close {
        width: calc(100% - 220px);
    }
}

@media (max-width: 784px){
    .nl-form {
        line-height: 40px;
    }
    .tnx{
        font-size:40px;
    }
    .tnx_bottom{
        font-size:20px;
    }
}

@media (max-width: 480px){
    .cursor{
        display: none;
    }
    .nl-form {
        line-height: 30px;
    }
    .box.box-close {
        width: 80%;
    }
    .privacy-policy {
    font-size: 15px;
    }
    .tnx{
        font-size:40px;
    }
    .tnx_bottom{
        font-size:20px;
    }
    .message_text {
        font-size:20px;
    }
}
button:hover{
    background-color:#000;
    transition:background-color 0.01s linear 0.3s;
}
.nl-submit{
    overflow:hidden;
    position:relative;
    transition: color 0.3s linear, transform 0.2s linear;
}
button.nl-submit:hover{
    transition: background-color 0.01s linear 0.3s, transform 0.2s linear;
}
#close_form{
    transition:transform 0.2s linear;
}
.nl-submit span.nlbg{
    position:absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    transform: scale(0);
    background-color:#000;
    transition:transform 0.3s linear;
    z-index:0;
}
.nl-submit:hover span.nlbg{
    transform: scale(51);
}
.nl-submit:hover {
    color:#fff;
}

.window_buttons span.nlbg {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    background-color: #fff;
    transition: transform 0.3s linear;
    z-index: 0;
}

.nltop{
    position:relative;
    z-index:1;
}
@media (max-width: 480px){
    #hello-ilab {
        font-size: 17px !important;
    }
    .nl-field.nl-field-open ul {
        width: 90%;
    }
    .nl-ti-text ul li.nl-ti-input input {
        width:calc(100% - 80px);
        font-size:18px;
        vertical-align: middle;
        margin-right:20px;
    }
    .nlbg{
        display:none !important;
    }
    button:hover{
        background-color:#fff !important;
    }
    .nl-submit:hover{
        color:#000 !important;
    }
    .window_button, .window_button:hover {
        background-color: transparent !important;
        transition:unset;
    }
    .window_button .nltop, .window_button:hover .nltop{
        color:#fff;
        background-color:transparent;
        transition: none;
    }
}
.nl-overlay + .nl-ti-text{
    display:none !important;
}
/* Galaxy s9/s9+ iphone/6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        #hello-ilab {
            font-size: 17px !important;
        }
        h1{
            font-size: 3em;
        }
          
        .customer li{
            width: 33.333%;
        }
        
        .customer img {
            max-height: 120px
        }
        
        .spacer {
            height: 20vh;
        }
        
        .footer-box{
            font-size: 20px;
        }
}

@media (max-width: 370px){
    #hello-ilab {
        font-size: 17px !important;
    }
}

@media (max-width: 320px){
    #hello-ilab {
        font-size: 17px !important;
    }
    h1{
        font-size: 2.3em;
    }  
    
}
