@media (max-width: 1890px){
    h1{
        font-size:2.5em;
    }
    #hello-ilab {
        font-size: 22px !important;
    }
}
@media (max-width: 1600px){
    .box, .box.box-close {
        width: 60%;
    }
    .box-topnav {
        width: calc(70% + 250px);
    }
    #hello-ilab {
        font-size: 22px !important;
    }
}
@media (max-width: 1350px){
    h1{
        font-size:2.5em;
    }

    #logo img {
        width: 2.5em;
    }   
    #hello-ilab {
        font-size: 22px !important;
    }
}
@media (max-width: 920px){
    h1{
        font-size:2em;
    }
    #logo img{
        width:2.5em;
    }
    .box, .box.box-close {
        width: 60%;
    }
    .box-topnav {
        width: calc(60% + 180px);
    }

    .footer-box{
        margin-top:100px;
    }
    #hello-ilab {
        font-size: 22px !important;
    }

}
.edit_button{
    width: 180px;
    height: 180px;
}

@media (max-width: 880px){
    .edit_button {
    width: 180px;
    height: 180px;
    margin-left: 90%;
    }
    .box-flex {
        flex-direction: column;
    }

    .box-flex-left{
        width: 100%;
        margin-right: 0;
    }
    .box-flex-right{
        width: 100%;
    }
    #hello-ilab {
        font-size: 22px !important;
    }
}

@media (max-width: 790px){
    .box, .box.box-close {
        width: calc(100% - 220px);;
    }
    .box-topnav {
        width: calc(100% - 40px);
    }
    .footer-box{
        flex-direction:column;
        margin-top:30px;
    }
    .footer-box-right{
        padding-top: 30px;
        width: 100%;
    }
    
    .footer-box-left{
        margin-bottom: 30px;
        width: 100%
    }
    .footer-box-center{
        width: 100%
    }
    #hello-ilab {
        font-size: 22px !important;
    }
}

@media (max-width:768px){
    .edit_button {
        margin-left: 90%;
        width: 180px;
        height: 180px;
    }
    body.body_instagram #blob_container:before {
       display: none;
    }

    body.body_linkedin #blob_container {
        display: none;
    }
    
    body.body_blu #blob_container {
        display: none;
    }
    #hello-ilab {
        font-size: 17px !important;
    }
}
@media (max-width: 700px) {
    .edit_button {
        margin-left: 80%;
        }
    h1 {
        font-size: 2em;
    }
    #hello-ilab {
        font-size: 17px !important;
    }
}

@media (max-width: 520px){
    .edit_button {
        margin-left: 75%;
        width: 180px;
        height: 180px;
    }
    
    body{
        font-size: 20px;
    }

    .container {
        margin-bottom: 50px;
    }

    .customer li{
        width: 33.333%;
    }

    .work{
        width: 100%;
        margin-right: 0%;
    }
    
    #logo img{
        width:5em;
    }
    h1{
        font-size:3.5em;
    }
    #hello-ilab {
        font-size: 17px !important;
    }
    
}


/* iphone 6/7/8 Plus e Alcuni modelli samsung */
@media (max-width: 459px){   
    .edit_button {
    
        margin-left: 40%;
        width: 180px;
        height: 180px;
    }
    #intro{
        font-size: 1.5em;
    }
    #hello-ilab {
        font-size: 17px !important;
    }
    
    .customer-awwwards li {
        font-size: 4.5em;
    }
    
    body .customer-awwwards li span {
        top:-20px;
        right:-3%;
    }
    
    .customer li {
        width: 33.333%;
    }   
    
    body {
        cursor: none;
    }
    #logo img{
        width:4em;
    }
    
    .customer img {
        max-height: 90px
    }
    
    h1{
        font-size:3.5em;
    }

    .box, .box.box-close {
        width: calc(100% - 100px);;
    }
    .box-topnav {
        width: calc(100% - 40px);
    }
    .cursor{
        display:none !important;
    }
    .work ul{
        margin-bottom:30px;
    }
    
    .footer-box span {
        width: 100%;
    }
    
    h3{
        font-size: 40px;
    }
    
    p {
        font-size: 20px;
    }
    
    h2 {
        font-size: 10px;
    } 
}

/* Galaxy s9/s9+ iphone/6/7/8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        #hello-ilab {
            font-size: 17px !important;
        }
        #intro{
            font-size: 1.5em;
        }
        h1{
            font-size: 3em;
        }
          
        .customer li{
            width: 33.333%;
        }
        
        .customer img {
            max-height: 120px
        }
        
        .spacer {
            height: 20vh;
        }
        
        .footer-box{
            font-size: 20px;
        }
}

@media (max-width: 370px){
    #hello-ilab {
        font-size: 17px !important;
    }
    #intro{
        font-size: 1.5em;
    }
}

@media (max-width: 320px){
    #hello-ilab {
        font-size: 17px !important;
    }
    h1{
        font-size: 2.3em;
    }  
    #intro{
        font-size: 1.5em;
    }
    
}
